* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(17, 17, 17);
}

.navbar {
  box-sizing: border-box;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  padding: 0 10px;
}

.logo {
  height: 45px;
  width: 90px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
}

.avatar {
  width: 25px;
}

.avatar img {
  width: 100%;
}

/* banner */
.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0) 10%,
      rgba(17, 17, 17, 0.25) 25%,
      rgba(17, 17, 17, 0.5) 50%,
      rgba(17, 17, 17, 0.75) 75%,
      rgba(17, 17, 17, 1) 100%
    ),
    url("./main-img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 448px;
  color: white;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 190px;
  height: 190px;
}

.banner_title {
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_btn {
  margin-top: 5px;
  margin-bottom: 10px;
}

.banner_btn button {
  width: 70px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.127);
  margin-right: 10px;

  color: white;
}

.banner_btn button:hover {
  background-color: rgb(171, 163, 163);
  color: black;
  cursor: pointer;
}

.banner_description {
  line-height: 1.5;
  padding-top: 0.5rem;
  font-size: 1rem;
}

/* row */
.row {
  color: white;
}

.row h2 {
  margin-left: 25px;
  margin-top: 20px;
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_poster:hover {
  transform: scale(1.1);
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_posterLarge {
  max-height: 250px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #808080;
  margin: 80px 20%;
}

.footerNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style: none;
}

.footerNav li a {
  color: #808080;
  text-decoration: none;
  font-size: 13px;
}

.footerNav li a:hover {
  text-decoration: underline;
}

.footerBtn button {
  padding: 6.5px;
  font-size: 13px;
  color: #808080;
  border: 1px solid #808080;
  background-color: transparent;
}

.footerP p {
  font-size: 11px;
}
